@using PersonalBudget.Common
@using PersonalBudget.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav col-md-3 col-lg-2 d-inline-flex pl-3">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item col-md-9 d-inline-flex ">
            <a class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей @this.User.Identity.Name!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-text" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item col-md-3 d-lg-inline-flex">
            <form class="form-inline mt-0"  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-text btn btn-link col-4 d-inline-flex">Изход</button>
            </form>
        </li>
    }
    else
    {
       
        <li class="nav-item col-9">
            <a class=" nav-text " asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item col-3">
            <a class="nav-text" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
