@import "../typography/settings-colors.scss";

.footer-p {
    font-size:14px;
    color:$pink-light;
    margin:0px;
}

.footer-link{
    font-size:14px;
    color:$pink-light;
    padding-left:0px;
    padding-right:0px;
}
footer li{
    

}
footer ul{
    list-style-type:none;
    
}