@page "/subCategories"
@inject PersonalBudget.Services.Data.ISubcategoryService subCategoryService


<select asp-for="SubCategoryId" class="form-control" asp-items="@subCategories">
    <option selected="">Please choose subcategory</option>
</select>

@code {

    private IEnumerable<KeyValuePair<string, string>> subCategories;

    protected override void OnInitialized()
    {
        base.OnInitialized();
       
    }

    
}
