@model CreateTransferInputModel


@{

    this.ViewData["Title"] = "Add new transfer";
    var partners = this.Model.Partners.Select(x => new SelectListItem(x.Value, x.Key));
    var items = this.Model.Items.Select(x => new SelectListItem(x.Value, x.Key));
    var subCategories = this.Model.Subcategories.Select(x => new SelectListItem(x.Value, x.Key));
    var measureUnits = this.Model.MeasureUnits.Select(x => new SelectListItem(x.Value, x.Key));
    var members = this.Model.Members.Select(x => new SelectListItem(x.Value, x.Key));
    var subcategories = this.Model.Records.Select(x => x.Subcategories.Select(y => new SelectListItem(y.Value, y.Key)));
}

<div class="section-all--big">
    <div>
        



        <form method="post" class="mt-0">
            <div class="row">
                <h1 class="col-10 col-md-3 text-white-50">Нов трансфер</h1>
                <div class="form-group col-5 col-md-2 mr-0 mt-2">
                    <label asp-for="TotalMoney"></label>
                    <input type="number" step="any" lang="nb" asp-for="TotalMoney" class="form-control" id="totalValue" />
                    <span asp-validation-for="TotalMoney" class="text-danger"></span>
                    <br />
                </div>
                <div class="form-group float-right mt-md-4 pt-4 pt-md-0 ml-1">
                    <button type="submit" class="btn_save mt-3 mt-md-2"><i class="far fa-save"></i> Запази</button>
                </div>
            </div>
            

           
            <div class="row ml-1">
                <fieldset class="col-10 col-lg-3 justify-content-between ml-lg-5">
                    <legend class="ml-2 col-6 text-white-50">Данни</legend>
                    <div class="">


                        <div class="form-group">
                            <label asp-for="TransferNumber"></label>
                            <input type="number" asp-for="TransferNumber" id="transferNumber" class="form-control" />

                            <span asp-validation-for="TransferNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TransferDate"></label>
                            <input asp-for="TransferDate" asp-format="{0:dd.MM.yyyy}" class="form-control" />
                            <span asp-validation-for="TransferDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type"></label>
                            <select asp-for="Type" class="form-control" id="type" asp-items="Html.GetEnumSelectList<TransferType>()">
                                <option selected="">Изберете вид трансфер</option>
                            </select>

                            <span asp-validation-for="TransferType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PartnerId"></label>
                            <select asp-for="PartnerId" class="form-control" asp-items="partners" id="par">
                                <option selected="">Изберете контрагент</option>
                            </select>

                            <span asp-validation-for="PartnerId" class="text-danger"></span>
                        </div>

                    </div>
                </fieldset>


                <fieldset class="col-10 col-lg-7 justify-content-between ml-lg-5" style="font-size:14px">
                    <legend class="ml-2 col-3 text-white-50">Добави запис</legend>
                    <div class=" row ">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label asp-for="SubCategoryId" class="control-label" ></label>
                                <select class="form-control" asp-for="SubCategoryId" asp-items="subCategories" id="subcategory" style="font-size:14px">
                                    <option selected="">Изберете подкатегория</option>
                                </select>
                                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ItemId" class="control-label"></label>
                                <select class="form-control" asp-for="ItemId" asp-items="items" id="item" style="font-size:14px">
                                    <option selected="">Изберете продукт</option>
                                </select>
                                <span asp-validation-for="ItemId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MemberId" class="control-label"></label>
                                <select class="form-control" asp-for="MemberId" asp-items="members" id="member" style="font-size:14px">
                                    <option selected="">Изберете потребител</option>
                                </select>
                                <span asp-validation-for="MemberId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label"></label>
                                <input type="number" step="any" lang="nb" asp-for="Quantity" class="form-control quantity" id="quantity" style="font-size:14px" placeholder="0.00"/>
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MeasureUnitId" class="control-label"></label>
                                <select class="form-control" asp-for="MeasureUnitId" asp-items="measureUnits" id="measureUnit" style="font-size:14px">
                                </select>
                                <span asp-validation-for="MeasureUnitId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UnitPriceNoVat" class="control-label"></label>
                                <input type="number" step="any" inputmode="numeric" lang="nb" asp-for="UnitPriceNoVat" class="form-control unitPrice" id="unitPriceNoVat" onkeydown="CalculateUnitPrice()" style="font-size:14px" placeholder="0.00"/>
                                <span asp-validation-for="UnitPriceNoVat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label asp-for="UnitPrice" class="control-label"></label>
                                <input type="number" step="any" inputmode="numeric" lang="nb" asp-for="UnitPrice" class="form-control unitPrice" id="unitPrice" onkeydown="Calculate()" style="font-size:14px" placeholder="0.00"/>
                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group ">
                                <label asp-for="ItemValue" class="control-label"></label>
                                <input type="text" step="any" lang="nb" asp-for="ItemValue" class="form-control itemValue" id="itemValue" style="font-size:14px" placeholder="0.00"/>
                                <span asp-validation-for="ItemValue" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ExpireDate" class="control-label"></label>
                                <input asp-for="ExpireDate" class="form-control" id="expireDate" style="font-size:14px" />
                                <span asp-validation-for="ExpireDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="float-right mr-3 mb-2">
                            <button type="button" name="name" class="btn_save" onclick="AddToRecords()"><i class="fas fa-plus-circle"></i> Добави</button>
                            <a href="#subcategory" class=" btn_save p-1 p-md-3 text-center">Нов запис</a>
                        </div>
                       

                    </div>

                </fieldset>
            </div>


            <fieldset class=" col-11 justify-content-between  table-responsive ml-lg-5">
                <legend class="ml-2 col-2 text-white-50">Записи</legend>
                <table class="table scrolable ">

                    <thead class="text-white-50">
                        <tr>

                            <th scope="row">Подкатегория</th>
                            <th scope="row">Продукт/услуга</th>
                            <th scope="row">Потребител</th>
                            <th scope="row">Количество</th>
                            <th scope="row">Мярка</th>
                            <th scope="row">Ед. цена</th>
                            <th scope="row">Стойност</th>
                            <th scope="row">Срок на годност</th>
                        </tr>
                    </thead>
                    <tbody id="records">
                    </tbody>
                </table>
            </fieldset>






        </form>
    </div>
</div>
@section Scripts{
    <script>
        function CalculateUnitPrice() {
            var unitPriceNoVat = document.getElementById('unitPriceNoVat')
            var unitPrice = document.getElementById('unitPrice');
            unitPrice.value = (unitPriceNoVat.value * 1.2).toFixed(2);
            console.log(unitPrice.value);

        }
    </script>

    <script>
        function Calculate() {
            var itemValue = document.getElementById('itemValue')
            var quantity = document.getElementById('quantity');
            var unitPrice = document.getElementById('unitPrice');
            itemValue.value = (quantity.value * unitPrice.value).toFixed(2);
          

        }
    </script>
    <script>
        function TotalRecords() {

            var totalRecords = document.getElementById('recordsCount');
            var unitPrice = document.getElementsByClassName('unitPrice');

            totalRecords.value = unitPrice.length;
        }
    </script>
    <script>
        function CalculateTotal() {
            var total = document.getElementById('totalValue');
            var itemValue = document.getElementById('itemValue')

            total.value = (Number(total.value) + Number(itemValue.value)).toFixed(2)
            console.log(total.value)
        }
    </script>

    <script>
        var index = 0;
        function AddToRecords() {
            var subCategory = document.getElementById('subcategory');
            var subCategoryText = subCategory.options[subCategory.selectedIndex].text;
            var item = document.getElementById('item');
            var itemText = item.options[item.selectedIndex].text;
            var member = document.getElementById('member');
            var memberText = member.options[member.selectedIndex].text;
            var quantity = document.getElementById('quantity');
            var measureUnit = document.getElementById('measureUnit');
            var measureUnitText = measureUnit.options[measureUnit.selectedIndex].text;
            var unitPrice = document.getElementById('unitPrice');
            var itemValue = document.getElementById('itemValue');
            var expireDate = document.getElementById('expireDate');

            $("#records").append("<tr><td><input style='width: 50px' type='hidden' value=\'" + subCategory.value + "\' name='Records[" + index + "].SubCategoryId'  /><input value=\'" + subCategoryText + "\'> </td><td><input style='width: 50px' type='hidden' value=\'" + item.value + "\' name='Records[" + index + "].ItemId'/><input value=\'" + itemText + "\'> </td><td><input style='width: 50px' type='hidden' name='Records[" + index + "].MemberId' value=\'" + member.value + "\'/><input value=\'" + memberText + "\'> </td><td><input style='width: 100px' type='text'step='any' lang='nb' name='Records[" + index + "].Quantity' value=\'" + quantity.value + "\'/></td><td><input style='width: 50px' type='hidden' name='Records[" + index + "].MeasureUnitId' value=\'" + measureUnit.value + "\'/><input value=\'" + measureUnitText + "\'> </td><td><input style='width: 100px' type='text' step='any' lang='nb' value=\'" + unitPrice.value + "\' name='Records[" + index + "].UnitPrice'/></td><td><input style='width: 100px' type='text' step='any' lang='nb' name='Records[" + index + "].ItemValue' value=\'" + itemValue.value + "\'/></td><td><input type='datetime - local' name='Records[" + index + "].ExpireDate' value=\'" + expireDate.value + "\'/></td></tr>");
            index++;
            var total = document.getElementById('totalValue');

            total.value = (Number(total.value) + Number(itemValue.value)).toFixed(2)
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#expireDate')({
                dateFormat: "dd/mm/yy",
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}

