@import "../typography/settings-mixins.scss";

header {
    width: 100%;
    background-image: url("../resources/Header5.png");
    background-size: cover;
    height: 200px;
    margin: 0 auto;
    position: fixed;
    z-index:10;
    @include for-desktop-up {
        grid-column: 1/3;
    }
}
